/* Font Styles. */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.merriweather-light {
    font-family: "Merriweather", serif;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}


/* Banner Styles. */
.header {
    background-image: url(./images/Banner\ Image.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    margin-top: 20px;
    /* border: 2px solid blue; */
}

.banner-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.banner-container p {
    font-size: 32px;
    text-align: center;
    margin-bottom: -20px;
}

.banner-container h1 {
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

/* End of Banner Styles. */

/* Start of Deals Styles. */
.deals-container {
    width: 802.9px;
    height: 806px;
    /* border: 2px solid blue; */
    margin: 0 auto;
    margin-top: 120px;

}

.deals-content {
    text-align: center;
}

.deals-content h1 {
    color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 48px;
}

.deals-content p {
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 16px;
}


.deals-content h3 {
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 48px;
}

/* End of Deals Styles. */

/* Start of  Party Styles. */
.party-section {
    background-image: linear-gradient(90deg,
            rgb(7, 2, 17),
            rgba(7, 2, 17, 0) 100%),
        url("./images/Vectorrr.png");
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin-top: 120px;
    /* border: 2px solid blue; */
}

.party-container {
    display: flex;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.party-content {
    color: white;
    width: 862px;
    height: 600px;
    padding-left: 150px;
    padding-top: 150px;
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-blend-mode: overlay;

}

.party-content h3 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 24px;
}

.party-content p {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 48px;
}

.party-year {
    padding: 68px 140px 68px 0px;
}

.join {
    padding-left: 20px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}

/* End of Party Styles. */

/* Start of Party Place Styles. */
.party-details-section {
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    margin-top: 120px;
    background-image: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    /* border: 2px solid aqua; */
    border-radius: 16px;
}

.party-details {
    text-align: center;
    padding: 100px 386px 126px 385px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
}

.button {
    background-color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px 16px 32px;
    border-radius: 8px;
    color: white;
}

/* End of Party Details Styles. */

/* Start of Offer Styles. */
.offer-section {
    width: 1320px;
    height: 463px;
    margin: 0 auto;
    margin-top: 120px;
    /* border: 1px solid blue; */
}

.offer-container {
    display: flex;
}

.offer-details-left {
    width: 463px;
    padding-top: 104px;
}

.first-h1 {
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
}

.second-h1 {
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
}

.offer-details-left p {
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
    margin-top: 22px;
}

.offer-image {
    max-width: 463px;
    max-height: 463px;
    box-sizing: border-box;
    border: 12px solid rgb(255, 0, 0);
    border-radius: 50%;
    padding: 38px;
}

.offer-details-right {
    padding-top: 110px;
    padding-left: 130px;
}

.offer-details-right h1 {
    color: rgb(255, 0, 0);
    font-size: 48px;
    font-weight: 700;
}

.offer-details-right p {
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;
}

.offer-details-right img {
    width: 140px;
    height: 132px;
}

/* End of Offer Styles. */

/* Start of Holiday Styles. */
.holiday-sale-section {
    width: 1068px;
    max-height: 260px;
    /* border: 1px solid blue; */
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
}


.holiday-sale h3 {
    color: rgb(7, 2, 17);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    margin-top: 0px;
}

.holiday-sale h1 {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
    margin-top: 16px;
}

.holiday-sale p {
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
}

/* End of Holiday Styles. */






/* Start of Portfolio Styles. */
.portfolio-section {
    max-width: 1320px;
    max-height: 1163px;
    /* border: 1px solid blue; */
    margin: 0 auto;
    margin-top: 120px;
}

.portfolio-details h5 {
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 16px;
}

.portfolio-details h2 {
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 22px;
}

.portfolio-details p {
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
    margin-top: 22px;
    margin-bottom: 48px;
}

.portfolio-image-top {
    margin-top: 48px;
    margin-bottom: 24px;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-radius: 16px;
}

.portfolio-image-bottom {
    margin-top: 24px;
    margin-bottom: 0px;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-radius: 16px;
}

.border-create{
    border: 1px solid black;
    border-style:dashed;
}

/* End of Portfolio Styles. */